extends layout

block content
  h1=title

  if fine != true
    form(method='POST' action='')
      div.form-group
        label(for='v_password') 口令:
        input#v_password.form-control(type='password' placeholder='你自己的口令，或管理员的口令' name='v_password' required='true')
      button.btn.btn-primary(type='submit') 提交
  else
    form(method='POST' action='')
      div.form-group
        label(for='title') 房名:
        input#title.form-control(type='text', placeholder='房间名字' name='title' required='true' value=article.title)
      div.form-group
        label(for='content') 房号:
        p
          input#content(type='text' name='content',placeholder='房号' value=article.content required='true') 
      div.form-group
        label 类型:
        div
          for genre in genres
            div(style='display: inline; padding-right:10px;')
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
              label(for=genre._id) #{genre.name}
      div.form-group
        label(for='summary') 房间简介: 
        p
          input#summary.form-control(type='text' name='summary',placeholder='房间简介' value=(undefined===article.summary ? '' : article.summary)) 
      button.btn.btn-primary(type='submit') 提交
  if errors 
    ul
      for error in errors
        li!= error.msg