extends layout

block content

  h1 房间类型: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 房间种类
    
    dl
    each room in genre_rooms
      dt 
        a(href=room.url) #{room.name}
      dd #{room.summary}

    else
      p 没有这个房间类型的房间种类

  hr
  p
    a(href=genre.url+'/yesupdate') 更新
  p
    a(href=genre.url+'/yesdelete') 删除