extends layout

block content
  h1 #{title}: #{genre.name}

  
  if genre_rooms.length
  
    p #[strong 尝试删除此房间类型之前，请删除以下房间种类。]
  
    div(style='margin-left:20px;margin-top:20px')
      h4 房间种类
      dl
      each room in genre_rooms
        dt 
          a(href=room.url) #{room.name}
        dd #{room.summary}

  else
    p 你真的想删除此房间类型吗？
    
    form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') 删除