extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') 房间名:
      input#name.form-control(type='text', placeholder='房间名' name='name' required='true' value=(undefined===room ? '' : room.name) )
    div.form-group
      label(for='summary') 房间简介:
      input#summary.form-control(type='textarea', placeholder='房间简介' name='summary' value=(undefined===room ? '' : room.summary) required='true')
    div.form-group
      label 种类:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    button.btn.btn-primary(type='submit') 提交

  if errors 
    ul
      for error in errors
        li!= error.msg